@using System.Activities
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    @Html.ActionLink("Book Meeting", "About", "Home", new { area = "" }, null)
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <dl>
            <dt>roger@example.com</dt>
            <dd>password</dd>
            <dt>maria@example.com</dt>
            <dd>password</dd>
        </dl>
        <p>you must log in as maria or roger for this to work - then click on Book Meeting</p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>